

<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>s1101700</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:blue; font-size:60px;}
		h2 {color:#33ff33; font-size:40px;}
	</style>

</head>
<body>
	<table width="70%">
<tr>
	<td>
	<img src="411017006.jpg"width="70%"></img>
	</td>>
	
	<td>
	<h1>董彥昌</h1>
	<h2>Bryantung</h2>
	</td>
</tr>
	</table>

<table width="70%" border="1">
<tr>
	<td>
	FB：<a href="https://www.facebook.com/">https://www.facebook.com/</a><br>
	Tel: 0936856520<br>
	</td>

	<td>
	音樂<br>
	<audio controls>
		<source src="elephant.mp3" type="audio/mP3">
	</audio><br>
	</td>

	<td>
	lol<br>
	<iframe src="https://www.youtube.com/embed/HGocgli2IrY" allowfullscreen></iframe>
	</td>

</tr>
</table>		



	
</body>
</html>