<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>職涯測驗結果</title>

	<style type="text/css">
		* { 
			font-family: "標楷體"; }

		header { 
			font-size: 36px;
			color: purple; }

		.col-lg-4 {
			border: 1px solid; }

	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>


		<nav>
			<h1><a class="text-reset text-decoration-none text-light bg-primary" target="_blank" id="COMPANY">職涯測驗結果</a></h1>
		</nav>

		<img src="ucan.jpg" alt="照片" width="300" class="img-fluid rounded-circle" id="PICTURE"> 
		<br><br><br>

		<div class="row">
			<session id="UCAN" class="col-lg-4">
				<header><a href="https://ucan.moe.edu.tw/Account/Login.aspx" class="text-reset text-white bg-success"></header>
				<img src="13.png" alt="照片" width="450"height="500"> 
			</session>

			<article id="personality" class="col-lg-4">
				<header><a href="https://ucan.moe.edu.tw/Account/Login.aspx" class="text-reset text-white bg-success"></header> 
				<img src="14.png" alt="照片" width="450"height="500">
			</article>
			
			<aside id="CPAS" class="col-lg-4">
				<header><a href="https://ucan.moe.edu.tw/Account/Login.aspx" class="text-reset text-white bg-success">
		</a></header>
			<header><a href="https://ucan.moe.edu.tw/Account/Login.aspx" class="text-reset text-white bg-success">
				<img src="15.png" alt="照片" width="500">
			</aside>
		</div><br><br>
		
		<footer>
			Copyright ©  王雅妮. All Rights Reserved.
		</footer>
		
	</main>
</body>
</html>